* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;

}

body {
  background-color: #f0f4f5;
  /* overflow: hidden; */
}

/* Navigation bar */
.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  position: relative;
  /* background-color: rgb(118, 117, 119); */
  padding: 12px 20px;
}

.logo img {
  width: 110px;
  /* border-radius: 360px; */
}

#logoname {

  position: absolute;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #e5e8e8;
  top: 22px;
  left: 70px;
}

.menu {
  display: flex;
}

.menu li {
  padding-left: 5px;
  margin-right: 50px;

}

.menu li a {
  display: inline-block;
  text-decoration: none;
  color: rgb(43, 43, 41);
  /* text-align: center; */
  transition: 0.15s ease-in-out;
  position: relative;
  text-transform: uppercase;
}

.menu li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color:#20BC7E;
  transition: 0.15s ease-in-out;
}

.menu li a:hover:after {
  width: 100%;
}

.open-menu,
.close-menu {
  position: absolute;
  color: rgb(32, 31, 31);
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}

.open-menu {
  top: 50%;
  right: 20px;
  margin-right: 50px;
  transform: translateY(-50%);
}

.close-menu {
  top: 20px;
  right: 20px;
}

#check {
  display: none;
}


/* main section */


main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
}

main section {
  width: 50%;
}

.leftSection {
  margin-left: 5%;
  position: relative;
}

.topAngle {
  width: 25px;
}

.leftSection h1 {
  font-size: 70px;
}

.leftSection p {
  color: #7c7c7c;
  font-size: 18px;
  margin: 20px 0;
}

.bottomAngle {
  width: 25px;
  position: absolute;
  left: 95%;
  /* right: 5px; */
}


.mouse {
  position: absolute;
  right: -30px;
  bottom: 0;
  width: 30px;
}

.leftSection button {
  color: white;
  border: none;
  padding: 15px 40px;
  border-radius: 40px;
  background-color: #20bc7e;
  font-size: 25px;
  font-weight: 700;
}

/* designing the right section */
.rightSection img {
  position: absolute;
  background-color: #20bc7e;
  left: 20px;
  height: 400px;
}

.rightSection {

  display: flex;
  justify-content: end;
  position: relative;
  /* background-color: aqua; */
  width: 50%;
  height: 400px;
}



/* ---------------------media query----------------- */










@media screen and (min-width: 360px) and (max-width: 720px) {



  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;

  }

  body {
    background-color: #f0f4f5;
    /* overflow: hidden; */
  }

  /* Navigation bar */
  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 50vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: rgb(200, 197, 194);
    transition: all 0.2s ease-in-out;
  }

  .menu li {
    margin-top: 40px;
    margin-right: 10px;
  }

  .menu li a {
    padding: 5px;
  }

  .open-menu,
  .close-menu {
    display: block;
  }

  /* #check:checked~.menu {
    right: 0;
  } */


  /* main section */


  main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
  }

  main section {
    width: 100%;
  }

  .leftSection {
    margin-left: 5%;
    position: relative;
  }

  .topAngle {
    width: 25px;
  }

  .leftSection h1 {
    font-size: 50px;
  }

  .leftSection p {
    color: #7c7c7c;
    font-size: 18px;
    margin: 20px 0;
  }

  .bottomAngle {
    width: 25px;
    position: absolute;
    left: 95%;
    /* right: 5px; */
  }


  .leftSection button {
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 40px;
    background-color: #20bc7e;
    font-size: 15px;
    font-weight: 700;
  }

  /* designing the right section */
  .rightSection img {
    position: absolute;
    background-color: #20bc7e;
    left: -250px;
    top: 550px;
    height: 300px;
    width: 320%;
  }

  .rightSection {

    display: flex;
    justify-content: end;
    position: relative;
    /* background-color: aqua; */
    width: 100%;
    height: 400px;
  }




}