/* -------------------------navwar */

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: rgba(255, 234, 112, 0.841);
    padding: 12px 20px;
}

.logo img {
    width: 40px;
    /* border-radius: 360px; */
}

#logoname {

    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    top: 18px;
    left: 70px;
}

.menu {
    display: flex;
}

.menu li {
    padding-left: 5px;
    margin-right: 50px;

}

.menu li a {
    display: inline-block;
    text-decoration: none;
    color: rgb(57, 57, 57);
    /* text-align: center; */
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}

.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(0, 0, 0);
    transition: 0.15s ease-in-out;
}

.menu li a:hover:after {
    width: 100%;
}

.open-menu,
.close-menu {
    position: absolute;
    color: rgb(241, 238, 238);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.open-menu {
    top: 50%;
    right: 20px;
    margin-right: 50px;
    transform: translateY(-50%);
}

.close-menu {
    top: 20px;
    right: 20px;
}

#check {
    display: none;
}

/* ---------------------------body ------------------- */



#first-row {

    height: 700px;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
}

#first-row-box1 {

    background-color: rgb(242, 242, 171);
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

#first-row-box2 {

    display: flex;
    justify-content: space-evenly;
    /* background-color: rgb(177, 247, 48); */
    height: 300px;
    width: 100%;
    flex-direction: row;
    align-items: center;

}

.f1-b1 {

    display: flex;
    flex-direction: row;
    /* background-color: rgb(116, 116, 171); */
    height: 350px;
    width: 49%;
    justify-content: center;
    align-items: center;


}


.f1-b1 img {
    height: 350px;
    width: 120%;

}



#company-name {
    width: 50%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
}

.f1-b1 p {

    width: 80%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}


.f2-b2 {

    background-color: blueviolet;
    height: 290px;
    width: 24%;

}

/* ----------------------------------------second row */
#second-row {

    margin-top: 10px;
    height: 700px;
    width: 100%;
    background-color: brown;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;


}

#second-row-box1 {
    height: 300px;
    width: 100%;
    background-color: rgb(0, 247, 255);
}

.s1-b1 {

    height: 300px;
    width: 100%;
    background-color: aliceblue;
}

.s1-b1 p {
    height: 300px;
    width: 30%;
}

#second-row-box2 {
    height: 300px;
    width: 100%;
    background-color: rgb(38, 66, 11);
}

/*--------------------------------------------------  */






@media screen and (min-width:360px) and (max-width:720px) {
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 50vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: rgba(255, 234, 112, 0.841);
        /* transition: all 0.2s ease-in-out; */
        transition: all 0.2s ease-in-out;
    }

    .menu li {
        margin-top: 40px;
        margin-right: 50px;
    }

    .menu li a {
        padding: 10px;
    }

    .open-menu,
    .close-menu {
        display: block;
    }

    #check:checked~.menu {
        right: 0;
    }
}