* {
    margin: 0;
}

#head {

    margin: 0;
    height: 70px;
    width: 100%;
    background-color: rgb(228, 222, 222);

}

#navbar {
    margin: 0;

    position: sticky;
    background-color: rgb(43, 45, 45);
    height: 50px;
    width: 100%;


}

#navbar ul {
    display: block;
    list-style: none;
    list-style-type: none;
    padding: 10px;

}

#navbar ul li {

    display: inline;

}

#navbar ul li a {

    font-family: sans-serif;
    font-size: 20px;
    margin-left: 20px;
    text-decoration: none;
    color: aliceblue;
}

#navbar a:hover {

    color: rgb(163, 166, 169);
}


#banner {


    position: relative;

    color: aliceblue;
    height: 900px;
    width: 100%;
    background-color: #FA4528;
}

#textb {

    /* font-size: 50px; */
    font-size: 80px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(67, 60, 60);
    height: 500px;
    width: 400px;
    margin-left: 25px;
    margin-top: 55px;
    float: left;
}

#textb span {

    color: wheat;
}

#textb p {

    margin-top: 25px;
    font-size: 20px;
    color: wheat;
}

#imgbox {
    /* background-color: rgb(49, 226, 43); */
    height: 800px;
    width: 700px;
    float: right;
    margin-left: 15px;
    margin-top: 55px;
    overflow: hidden;
    /* display: inline; */
}

#image {
    height: 800px;
    width: 800px;
    /* margin-top:-5px; */
    opacity: 0.3;
    border-radius: 360px;
}

#services {

    height: 620px;
    width: 100%;
    /* background-color: aqua; */
    margin: 10px;
    /* background-color: yellowgreen; */
}


#servictext {

    /* font-size: 50px; */
    font-size: 80px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(67, 60, 60);
    height: 500px;
    width: 30%;
    margin-left: 55px;
    margin-top: 115px;
    float: left;
    /* background-color: aqua; */
}

#servictext span {

    color: rgb(67, 64, 60);
}

#servictext p {

    margin-top: 25px;
    font-size: 20px;
    color: rgb(120, 117, 110);
}

#box2 {


    height: 420px;
    width: 60%;
    /* background-color: blanchedalmond; */
    float: right;
    /* background-color: aqua; */

}

#box2 #img1 {

    margin-top: 35px;
    position: relative;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
    height: 140px;
    width: 100%;
    /* background-color: #6e28fa; */
}

#box2 #img2 {

    margin-top: 35px;
    position: relative;
    height: 140px;
    width: 100%;
    /* background-color: #28faef; */
    align-items: center;
}

#box2 #img3 {

    margin-top: 35px;
    height: 140px;
    width: 100%;
    /* background-color: #0d313d; */
}

#box2 img {
    margin-top: 35px;
    margin-left: 35px;
    height: 70px;
    width: 70px;


}

/* -------------------------- */



.galary {

    height: 500px;
    width: 100%;

    margin: auto;
}

#b1 {

    margin-top: 30px;
    margin-left: 40px;

    height: 340px;
    width: 250px;
    /* background-color: #FA4528; */
    float: right;
    margin-right: 25px;
}

#bgimg {

    height: 300px;
    width: 250px;
    transition: 1s;

}

#bgimg:hover {
    transform: scale(1.2);
    height: 300px;
    width: 250px;
    border: 2px solid rgb(235, 15, 48);
}


/* ---------------------------------------- */
.app
{
    height: 500px;
    width: 100%;
    border: solid 2px black;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    background-color: #FA4528;
    flex-direction: column;
}
.a1,.a2,.a3
{
    font-family: Arial, Helvetica, sans-serif;
    height: 400px;
    width: 350px;
    /* background-color: rgb(154, 115, 115); */
}
#a-head{
    font-size: 80px;
    color: black;
    /* border: 2px solid red; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#a-box{

    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 40px;
    
}

/* ------------------------------------------------- */
#laboratory{

    height: 400px;
    width: 100%;
    /* background-color: aquamarine; */
}

#footer {

    height: 300px;
    width: 100%;
    background-color: rgb(58, 58, 53);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#f1,
#f2,
#f3 {
    height: 200px;
    width: 150px;
    color: rgb(185, 188, 192);
    /* background-color: brown; */
    display: flex;
    margin-left: 190px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#f1 {
    margin-left: 190px;
    text-decoration: none;

}

#f3 {
    margin-right: 100px;
    text-decoration: none;
}

#f1 a,
#f2 a,
#f3 a {
    text-decoration: none;
    color: rgb(199, 197, 197);
}

#lablogo {
    height: 30px;
    width: 30px;
}

#txt {

    color: aliceblue;
}

/* --------------------------------------------------------------------- */
/* media query */

@media screen and (min-width: 480px)
{


    
}