* {

    margin: 0;
    padding: 0;

}

#first-row {

    height: 700px;
    background-color: #AA142D;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.container {

    background-color: rgb(255, 255, 255);
    width: 15% !important;
    height: 90px;
    font-size: 30px;
    align-items: center;
    display: flex;
    justify-content: center;

}


#first-text {

    background-color: none !important;
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-align: center;
    box-shadow: none;

}


#first-text2 {

    box-shadow: none;
    font-size: 25px;
    color: aliceblue;
    text-align: center;
    border: none;
    border-top: none;
    font-weight: 600;

}